# Ignorar todos los archivos .dll y .lib
*.sample
*.exe
*.rar
*.vbp
*.vbw
*.bas
*.ini
*.cls
*.log
*.OBJ
*.vbg
*.SCC
*.dll
*.exp
*.lib
*.rpt
*.tmp
*.otf
*.txt
*.dbf
*.lbl
*.gif
*.ico
*.jpg
*.png
*.bmp
*.cnt
*.doc
*.err
*.FTS
*.ghc
*.GID
*.hh
*.HLP
*.hpj
*.hpr
*.hpt
*.prs
*.rbh
*.rtf
*.PDM
*.htm
*.zip
*.dsn
*.xls
*.sql
*.DM1
*.pdf
*.ocx
*.ctl
*.Luna
*.Royale
*.msstyles
*.VBCSln
*.xml
*.Net
*.oca
*.docx
*.bak
*.lnk
*.MANIFEST
